<div class="row">
  <div class="col-md-12">
    <div class="gst-card p-4">
      <div class="gst-card-body">
        <div class="gst-form-wrapper">
          <form>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <input type="text" class="form-control" id="formARN" placeholder="Enter ARN">
                </div>
              </div>
              <div class="col-md-3">
                <button type="button" class="btn btn-primary btn-block">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
